.l-mt-30
	h2.m-fz-20
		|登録した書籍がkindle化されたら通知を送るサービスです。
	
	ol.m-ol.ss-ol-description
		li
			.glyphicon.glyphicon-ok 
			|アカウントを作成します
		li
			.glyphicon.glyphicon-search 
			|Kindle版が出版されたら通知を受けたい書籍を検索します
		li
			.glyphicon.glyphicon-envelope 
			|Kindle化されたらメールが来ます
