bower_components
node_modules
public/.sass-cache
*.sublime-*
credential.js

logs
*.log
temp

TODO.md
BOOKS
sandbox.js
sb.js
sb.sh
sbapi.js
*.tgz

.vagrant
kindlized

conf/mongo.js

out/
public/

template.json
backups/
