for j in (1..20)
	.m-fz-{ ( 8 + j * 2) }
		font-size 8px + j * 2

.m-table
	tr
		@media screen and (max-width: 780px )
			th, td
				box-sizing border-box
				width 20%
				.label
					// display none
					&:before
						@extend .glyphicon
						content ""
						display block
					// @extend .glyphicon-inbox
