for j in (1..20)
	.m-fz-{ ( 8 + j * 2) }
		font-size 8px + j * 2

.table>tbody>tr>td, .table>tbody>tr>th
	padding 8px 2px
	text-align center

.m-table
	tr
		@media screen and (max-width: 780px )
			th, td
				font-size 10px
				box-sizing border-box
				width 20%
				img
					max-width 100%
					height auto
					display block
					// display none
				.label, .btn
					white-space normal
					display inline-block
					font-size 16px
					width 90%
					padding 6px 2px
					span
						&.is-pc
							display none
						&.is-sp
							font-size 10px
							font-weight normal
							line-height 1
							display block
							margin-top 6px

					&:before
						@extend .glyphicon
						display block
					&.m-icon-mail
						&:before
							@extend .glyphicon-envelope
							content "\2709"
					&.m-icon-book
						&:before
							@extend .glyphicon-book
							content "\e043"
					&.m-icon-buy
						&:before
							@extend .glyphicon-usd
							content "\e148"
					&.m-icon-ok
						&:before
							@extend .glyphicon-ok
							content "\e013"
					&.m-icon-delete
						&:before
							@extend .glyphicon-remove
							content "\e014"
