.m-ol
	margin-top 20px
	padding-left 30px
	li
		margin-bottom 10px
		list-style-type decimal
		&:last-child
			margin-bottom 0

	&.ss-ol-description
		li
			position relative
			padding-left 28px
			.glyphicon
				color #333
				font-size 18px
				position absolute
				top -1px
				left 0

.series-list__item
	margin-bottom 10px
	margin-right 1%
	width 19.2%
	overflow hidden
	&:nth-child(5n)
		margin-right 0
	&:hover
		border-color #d9534f
		background-color #d9534f
		color #fff
