.m-ol
	margin-top 20px
	padding-left 30px
	li
		margin-bottom 10px
		list-style-type decimal
		&:last-child
			margin-bottom 0

	&.ss-ol-description
		li
			position relative
			padding-left 28px
			.glyphicon
				color #333
				font-size 18px
				position absolute
				top -1px
				left 0
