extends partials/layout

block content
	div( ng-controller="account" )
		.l-clr.l-mt-10.l-mb-10
			.l-left.l-flex.ss-flex-center
				div( ng-if='isRegist' )
					|新規アカウント登録
				div( ng-if='!isRegist' )
					|ログイン
