extends layout

block content
	h1
		|#{ title }
	
	h2 登録済みの著者
	ul
		-for( var i = 0 ; i < authors.length ; i++ )
			-var author = authors[ i ]
			li #{ author.name }
	
	div( ng-controller="postNewBook" )
		form( ng-submit="postBook()" )
			input( type="text" required placeholder="書籍を検索" ng-model="newBook" )
			button( type="submit").btn.btn-default search
		div( ng-if="isWaiting" ) 検索中...
		
		ul( ng-if="showSuggestedBooks" )
			li( ng-repeat="suggestedBook in suggestedBooks" )
				|{{ suggestedBook.title[0] }}
				
				
		div( ng-if="isNotExistenceBook" ) 存在しない書籍
		div( ng-if="isBookAdded" ) 登録成功
			
	h2 登録済みの書籍
	ul
		-for( var i = 0 ; i < books.length ; i++ )
			-var book = books[ i ]
			li
				a(href="#{ book.url }", target="_blank")
					|#{ book.title }
		
