extends partials/layout

block content
	div( ng-controller="postNewBook" )
		.l-clr.l-mt-10.l-mb-10
			.l-left.l-flex.ss-flex-center
				|ようこそ、{{ userName }}
			.l-right
				div( ng-controller="account" )
					div( ng-if='!isRegist' )
						button( type='submit' ng-click='logout()' ).btn.btn-default ログアウト

		form( ng-submit="search( newBook )" ).input-group
			input( type="text" required placeholder="書籍のタイトルを入力して下さい" ng-model="newBook" ).form-control
			.input-group-btn
				button( type="submit").btn.btn-default 書籍を検索
				
		div( ng-if="isWaiting" )
			|検索中...

		h2( ng-if="showSuggestedBooks" )
			|検索結果
		
		div( ng-if="showSuggestedBooks" )
			.panel.panel-default
				table.table
					thead
						tr
							th タイトル
							th 出版状況
							th リンク/登録
					tbody
						tr( ng-repeat="bookInDB in bookListInDB" )
							td
								a( href="{{ bookInDB.url[0] }}" target="_blank" style='display:block;' )
									img(ng-src="{{bookInDB.images}}")
								|{{ bookInDB.title[0] }}

							td
								div( ng-if="!bookInDB.isKindlized" ).label.label-danger
									|Kindle版がありません
									
								div( ng-if="bookInDB.isKindlized" ).label.label-success
									|Kindle化済み
								
							td
								a( href="{{ bookInDB.url[0] }}" target="_blank" ng-if="bookInDB.isKindlized" ).btn.btn-default
									|Amazonで購入する
								button( type="button" ng-click="registBook( bookInDB, $index )" ng-if="!bookInDB.isKindlized && !bookInDB.isRegisterd" ).btn.btn-default
									|メール通知登録
								.label.label-info( ng-if="bookInDB.isRegisterd" )
									|メール通知登録済みです

		h2 メール通知登録済みの書籍
		.panel.panel-default
			table.table
				thead
					tr
						th タイトル
						th ステータス
						th 出版状況
						th リンク
						th 
				tbody
					tr( ng-repeat="bookInUser in bookListInUser" )
						td
							a( href="{{ bookInUser.url[0] }}" target="_blank" style='display:block;')
								img(ng-src="{{bookInUser.images}}")
							|{{ bookInUser.title[0] }}
						td
							div( ng-if="!bookInUser.isNotified" ).label.label-danger
								|メール未通知

							div( ng-if="bookInUser.isNotified" ).label.label-success
								|メール通知済み
						
						td
							div( ng-if="!bookInUser.isKindlized" ).label.label-danger
								|Kindle版がありません
								
							div( ng-if="bookInUser.isKindlized" ).label.label-success
								|Kindle化済み
							
						td
							a( href="{{ bookInUser.url[0] }}" target="_blank" ).btn.btn-default
								|Amazonで購入する
						td
							button( ng-click="unRegistBook( $index )" ).btn.btn-warning.btn-xs 登録を解除
