extends partials/layout

block content
	div( ng-controller="app" )
		include ./app/modify
		include ./app/search
		
		div( ng-if="isWaiting" class="l-mt-10" )
			|検索中...

		h2( ng-if="showSuggestedBooks" class="l-mt-10 l-mb-10")
			|検索結果
		
		div( ng-if="showSuggestedBooks" )
			.panel.panel-default
				table(
					class="table m-table"
				)
					thead
						tr
							th タイトル
							th 出版状況
							th リンク/登録
					tbody
						tr( ng-repeat="bookInDB in bookListInDB" )
							td
								a( href="{{ bookInDB.url[0] }}" target="_blank" style='display:block;' )
									img(ng-src="{{bookInDB.images}}")
								|{{ bookInDB.title[0] }}

							td
								div( ng-if="!bookInDB.isKindlized" ).label.label-danger.m-icon-book
									span.is-pc
										|Kindle版がありません
									span.is-sp
										|未Kindle
									
								div( ng-if="bookInDB.isKindlized" ).label.label-success.m-icon-book
									span.is-pc
										|Kindle化済み
									span.is-sp
										|Kindle済
								
							td
								a( href="{{ bookInDB.url[0] }}" target="_blank" ng-if="bookInDB.isKindlized" ).btn.btn-default.m-icon-buy
									span.is-pc
										|Amazonで購入する
									span.is-sp
										|購入
								button( type="button" ng-click="registBook( bookInDB, $index )" ng-if="!bookInDB.isKindlized && !bookInDB.isRegisterd" ).btn.btn-default.m-icon-ok
									span.is-pc
										|メール通知登録
									span.is-sp
										|通知登録
								.label.label-info.m-icon-ok( ng-if="bookInDB.isRegisterd" )
									span.is-pc
										|メール通知登録済みです
									span.is-sp
										|通知登録済

		h2(
			class="l-mt-40 l-mb-10"
		) メール通知登録済みの書籍
		.panel.panel-default
			table(
				class="table m-table"
			)
				thead
					tr
						th タイトル
						th ステータス
						th 出版状況
						th リンク
						th 
				tbody
					tr( ng-repeat="bookInUser in bookListInUser" )
						td
							a( href="{{ bookInUser.url }}" target="_blank" style='display:block;')
								img(ng-src="{{bookInUser.images}}")
							|{{ bookInUser.title }}
						td
							div( ng-if="!bookInUser.isNotified" ).label.label-danger.m-icon-mail
								span.is-pc
									|メール未通知
								span.is-sp
									|未通知
					
							div( ng-if="bookInUser.isNotified" ).label.label-success.m-icon-mail
								span.is-pc
									|メール通知済み
								span.is-p
									|通知済
						
						td
							div( ng-if="!bookInUser.isKindlized" ).label.label-danger.m-icon-book
								span.is-pc
									|Kindle版がありません
								span.is-sp
									|未Kindle
								
							div( ng-if="bookInUser.isKindlized" ).label.label-success.m-icon-book
								span.is-pc
									|Kindle化済み
								span.is-sp
									|Kindle済
							
						td
							a( href="{{ bookInUser.url[0] }}" target="_blank" ).btn.btn-default.m-icon-buy
								span.is-pc
									|Amazonで購入する
								span.is-sp
									|購入
						td
							button( ng-click="unRegistBook( $index )" ).btn.btn-warning.btn-xs.m-icon-delete
								span.is-pc
									|登録を解除
								span.is-sp
									|解除
