extends partials/layout

block content
  section
    include partials/description
    .l-mt-50.l-mb-10
      h2.m-fz-20 アカウントの登録
    form(action="/account/register" method="POST")
      .form-group
        label
          |メールアドレス
        input.form-control(required type='email', placeholder='メールアドレス', name='mail')
      .form-group
        label
          |パスワード
        input.form-control(required type='password', placeholder='パスワード', name='password')
    
      button(type='submit').btn.btn-default 新規登録
    
    p(class="l-mt-5")
      |#{message}
