extends layout

block content
	h1= title
	p Regist to #{title}
	p すでにアカウントを作成済みですか?こちらを<a href="/login">クリック</a>
	form( action='/process/regist' , method='POST' , id='regist-wrap')
		.input-group.input-group-sm
			input.form-control( id='mail' , type='email', placeholder='mail' , name='mail' )
			input.form-control( id='pwd' , type='password', placeholder='Password' , name='pwd' )
		.alert.alert-danger(class='#{is_visible}') #{caution}
		.alert-wrap
		.btn-group
			button( id='regist' , type='submit' , class='btn btn-default btn-sm') 新規登録