extends partials/layout

block content
  #root

  div
    .l-mt-20.l-mb-10
      h2.m-fz-20 ログイン

    form(action="/account/login" method="POST")
      .form-group
        label メールアドレス
        input.form-control(required type='email', placeholder='メールアドレス', name='mail')
      .form-group
        label パスワード
        input.form-control(required type='password', placeholder='パスワード', name='password')
    
      button(type='submit').btn.btn-default ログイン
