ul, ol {
  padding: 0;
  margin: 0;
}

ul li, ol li {
  list-style-type: none;
}

.label {
  display: inline-block;
  margin: 2px;
}

.thumbnail {
  padding-top: 16px;
}

.nav-pills > li > a {
  border-radius: 0;
}

/** Header */

.Header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.Header__logo {
  font-size: 30px;
  font-family: "Pacifico",cursive;
  margin: 0;
  margin-right: 10px;
}

.Header__discription {
  display: inline-block;
  font-size: 12px;
  color: #666;
}

.Header-menu {
  flex: 2;
  text-align: left;
  padding-right: 10px;
}

.Header-menu__list {
  display: inline-block;
  margin-left: 10px;
}

@media screen and (max-device-width: 640px) {
  .Header {
    display: block;
    text-align: center;
    padding: 10px 0;
  }
  .Header__logo {
    margin-bottom: 12px;
    margin-right: 0;
  }
  .Header__discription {
    display: none;
  }
  .Header-menu {
    text-align: center;
  }
  .Header-menu__list {
    margin: 0 5px;
  }
}


/** Layout */
.Layout {
  display: flex;
}
.Layout__nav {
  width: 15%;
}
.Layout__article {
  width: 85%;
  padding: 0 20px;
}

@media screen and (max-device-width: 640px) {
  .Layout {
    display: block;
  }
  .Layout__nav {
    width: 100%;
  }
  .Layout__article {
    width: 100%;
    padding: 0;
  }
}

/** Menu */

.Menu-list__link {
  border-radius: 0 3px 3px 0;
}

@media screen and (max-device-width: 640px) {
  .Menu {
    display: flex;
  }
  .Menu-list__link {
    border-radius: 0;
  }
  .nav-stacked>li+li {
    margin-top: 0;
  }
}


/** Series */

.Series-list {
  display: flex;
  align-items: center;
}

.Series-list__title {
  flex: 1;
}
.Series-list__buttons {
  flex: 1;
  text-align: right;
}