h2.l-mt-20.l-mb-10
	|ようこそ、{{ mail }}さん
	button(ng-click='switchEditable()' type="submit").btn.btn-default.btn-sm.l-ml-20
		|通知用のメールアドレスを変更する

div(ng-if='editable')
	form(name='modifyMail' ng-submit="modify('mail', modifiedMail)").input-group
		input( type="email" required placeholder="新しいメールアドレスを入力して下さい" ng-model="modifiedMail" ).form-control
		.input-group-btn
			button( type="submit").btn.btn-default 変更する
