h2.l-mt-40.l-mb-10 検索したい書籍のタイトルを入力して下さい
form(ng-submit="search(newBook)").input-group
	input( type="text" required placeholder="検索したい書籍のタイトルを入力して下さい" ng-model="newBook" ).form-control
	.input-group-btn
		button( type="submit").btn.btn-default 書籍を検索
