.l-clr
	clearfix()

.l-left
	float left

.l-right
	float right

.l-center
	text-align center

.l-idb
	display inline-block

.l-flex
	myflex()
	&.ss-flex-center
		align-items: center


for j in (1..10)
	.l-ml-{ ( j * 5) }
		margin-left 5px * j

for j in (1..10)
	.l-mr-{j * 5}
		margin-right 5px * j

for j in (1..10)
	.l-mb-{j * 5}
		margin-bottom 5px * j

for j in (1..10)
	.l-mt-{j * 5}
		margin-top 5px * j
