.l-clr
	clearfix()

.l-left
	float left

.l-right
	float right

.l-center
	text-align center
	margin-left auto
	margin-right auto

.l-db
	display block

.l-idb
	display inline-block

.l-flex
	myflex()
	&.ss-flex-center
		align-items: center

.l-img
	display block
	max-width 100%
	height auto

for j in (1..10)
	.l-ml-{ ( j * 5) }
		margin-left 5px * j

for j in (1..10)
	.l-mr-{j * 5}
		margin-right 5px * j

for j in (1..10)
	.l-mb-{j * 5}
		margin-bottom 5px * j

for j in (1..10)
	.l-mt-{j * 5}
		margin-top 5px * j
